{% extends 'main/pattern.html' %}

{% block title %}География{% endblock %}

{% block main %}
    <div class="features">
        <h1>География вакансий</h1>
        <p>Информация об уровне заработной платы в городах</p>
    </div>
    <h3>Уровень заработной платы 2005-2024 по городам</h3>
    <img src="static/main/img/myplot3.png" style="width: 500px; padding: 30px;" >
    <h3>Динамика уровня зарплат по городам</h3>
    <table>
        <thread>
            <tr>
                <th>Город</th>
                <th>Средняя зарплата</th>
            </tr>
        </thread>
        <tbody>
            <tr>
                <td>Киев</td>
                <td>274213</td>
            </tr>
            <tr>
                <td>Москва</td>
                <td>173088</td>
            </tr>
            <tr>
                <td>Минск</td>
                <td>171636</td>
            </tr>
            <tr>
                <td>Санкт-Петербург	</td>
                <td>143890</td>
            </tr>
            <tr>
                <td>Новосибирск</td>
                <td>139175</td>
            </tr>
            <tr>
                <td>Екатеринбург</td>
                <td>123711</td>
            </tr>
            <tr>
                <td>Алматы</td>
                <td>122259</td>
            </tr>
            <tr>
                <td>Казань</td>
                <td>118051</td>
            </tr>
            <tr>
                <td>Нижний Новгород</td>
                <td>111736</td>
            </tr>
            <tr>
                <td>Самара</td>
                <td>111328</td>
            </tr>
            <tr>
                <td>Краснодар</td>
                <td>110929</td>
            </tr>
            <tr>
                <td>Воронеж</td>
                <td>100996</td>
            </tr>
            <tr>
                <td>Ростов-на-Дону</td>
                <td>100084</td>
            </tr>
            <tr>
                <td>Красноярск</td>
                <td>100047</td>
            </tr>
            <tr>
                <td>Пермь</td>
                <td>93223</td>
            </tr>
        </tbody>
    </table>
    <div class="description">
        <p>В результате проведенного анализа уровня заработной платы по городам можно сделать вывод о том, что на более высокое
            вознаграждение специалист может рассчитывать в крупных городах. Так, в центральной России лидер по зарплатам - Москва (173088 р.), на Урале - Новосибирск (139175 р.) и Екатеринбург (123711 р.)</p>
    </div>
    <h3>Диаграмма вакансий по городам</h3>
    <img src="static/main/img/myplot4.png" style="width: 500px; padding: 30px;" >
    <h3>Доля вакансий по городам</h3>
    <table>
        <thread>
            <tr>
                <th>Город</th>
                <th>Среднее количество вакансий</th>
            </tr>
        </thread>
        <tbody>
            <tr>
                <td>Москва</td>
                <td>37.63%</td>
            </tr>
            <tr>
                <td>Санкт-Петербург</td>
                <td>10.81%</td>
            </tr>
            <tr>
                <td>Новосибирск</td>
                <td>2.69%</td>
            </tr>
            <tr>
                <td>Екатеринбург</td>
                <td>2.64%</td>
            </tr>
            <tr>
                <td>Казань</td>
                <td>2.31%</td>
            </tr>
            <tr>
                <td>Нижний Новгород</td>
                <td>1.90%</td>
            </tr>
            <tr>
                <td>Екатеринбург</td>
                <td>1.82%</td>
            </tr>
            <tr>
                <td>Краснодар</td>
                <td>1.82%</td>
            </tr>
            <tr>
                <td>Минск</td>
                <td>1.68%</td>
            </tr>
            <tr>
                <td>Алматы</td>
                <td>1.62%</td>
            </tr>
            <tr>
                <td>Ростов-на-Дону</td>
                <td>1.44%</td>
            </tr>
            <tr>
                <td>Самара</td>
                <td>1.24%</td>
            </tr>
            <tr>
                <td>Красноярск</td>
                <td>1.10%</td>
            </tr>
            <tr>
                <td>Воронеж</td>
                <td>1.07%</td>
            </tr>
            <tr>
                <td>Пермь</td>
                <td>1.06%</td>
            </tr>
        <tr>
                <td>Киев</td>
                <td>1.05%</td>
            </tr>
        </tbody>
    </table>
    <div class="description">
        <p>Относительно количества вакансий по городам лидер - Москва. В столице доля вакансий по
            профессии руководитель ИТ-проектов составляет 37.63%. На втором месте Санкт-Петербург - 10.81%, на третьем Новосибирск - 2.69%.
            Распределение закономерно, в этих крупных городах состредоточено наибольшее количество ИТ-предприятий.</p>
    </div>
{% endblock %}

{% block footer %}
    <footer>
        <p>Виноградов Арсений Александрович – РИ-230949</p>
    </footer>
{% endblock %}