{% extends 'main/pattern.html' %}

{% block title %}Главная страница{% endblock %}

{% block main %}
    <div class="features">
        <h1>Руководитель IT-проектов</h1>
        <p>Всё, что нужно знать будущему управляющему проектами</p>
    </div>
    <div class="description">
        <p>
           Руководитель ИТ-проектов – специалист, который сопровождает конкретный проект от планирования до реализации. Критерием успеха здесь является соответствие результата поставленным задачам.
        </p>
        <p>
            Суть проекта может заключаться в разработке новой информационной системы или во внедрении уже существующей системы в компании.
            В один период времени руководитель ИТ-проектов может заниматься одним крупным проектом или несколькими небольшими. В любом случае его труд является разносторонним, ему приходится все время переключаться с одной задачи на другую и одновременно удерживать перед глазами общую картину.
        </p>
    </div>
    <p class="aligncenter">
        <img src="static/main/img/it.jpg" style="width: 400px; " >
    </p>
    <div class="description">
        <p>
            Руководитель проектов в сфере ИТ должен быть знаком с основами системного анализа, разбираться в современном программном обеспечении и информационных системах, знать основы бюджетирования и уметь руководить людьми.
            Он должен свободно ориентироваться в стандартах и лучших практиках по управлению проектами. Руководитель ИТ-проектов должен понимать суть бизнес-процессов компаний, в которых внедряется информационная система.
        </p>
        <p>
            Этот сотрудник обычно имеет высшее образование в сфере информационных технологий, а также проходит курсы повышения квалификации в области проектного менеджмента.
            Дорасти до этой должности можно, постепенно продвигаясь по карьерной лестнице в IT-отделе одной организации.
        </p>
        <p>
            Чтобы занять этот пост с нуля, обычно требуется опыт работы на аналогичной позиции.
            Причем нового работодателя будет интересовать не только формальный стаж работы, но и примеры успешно реализованных задач. Свои успехи лучше заранее описать в резюме.
        </p>
    </div>
    <p class="aligncenter">
        <img src="static/main/img/director.jpeg" style="width: 200px; " >
    </p>
    <h1>Обязанности</h1>
    <li>Определение сроков завершения различных этапов работы</li>
    <li>Расчет финансовых затрат на закупку оборудования, оплату труда, иные необходимые цели</li>
    <li>Ежедневное управление персоналом, участвующим в работе</li>
    <li>Контроль качества</li>
    <li>Определение возможных рисков и их минимизация</li>
    <li>Своевременное внесение изменений в планы и сроки, если того требует ситуация</li>
    <li>Обеспечение связи между всеми участниками реализации проекта, сведение их усилий к единому результату</li>
    <div class="description">
        <p>
            Обязанности тимлида могут быть разными. Например, в некоторых организациях проект начинается с тимлида: тимлиду назначают проект, а он формирует команду, лично интервьюируя каждого участника.
            В этом случае тимлид будет отвечать за весь цикл разработки, начиная от поиска разработчиков в команду и поддержания рабочей атмосферы и заканчивая поддержкой готового продукта.
            В других организациях тимлида ищут уже на готовую команду, поэтому могут предъявляться совершенно другие требования к его профессиональному опыту.
            В некоторых случаях, на роль тимлида претендуют разработчики из уже сложившейся команды, поэтому руководитель выбирает того специалиста, чей управленческий опыт будет больше удовлетворять запрос владельца продукта.
        </p>
        <p>
            Основная функция этого специалиста – совмещать роли менеджера и высококвалифицированного разработчика.
        </p>
        <p>
            Лидерские качества нужны чтобы эффективно управлять командой, и тимлид должен быть настоящим лидером в своей команде. Лидер разбирается в различных подходах к людям, владеет основными инструментами управления людьми.
            Он должен использовать индивидуальные подходы при построении взаимодействия с членами команды.
        </p>
        <p>
            Важное качество тимлида как лидера – это умение заряжать людей необходимым настроением. Для многих ИТ-специалистов тимлидер является показателем разрабатываемого продукта.
            Если он умеет вдохновлять, то его команда также будет заряжена на успех. А профессиональная составляющая тимлида будет важным фактором для саморазвития членов команды.
        </p>
    </div>
{% endblock %}

{% block footer %}
    <footer>
        <p>Виноградов Арсений Александрович – РИ-230949</p>
    </footer>
{% endblock %}
