{% extends 'main/pattern.html' %}

{% block title %}Навыки{% endblock %}

{% block main %}
    <div class="features">
        <h1>Навыки</h1>
        <p>ТОП-20 навыков по годам по професии руководитель IT-проектов</p>
    </div>
    <h2>Топ-20 навыков 2015 год</h2>
    <div class="flex-container">
        <div class="flex-container_table">
            <table>
                <thread>
                    <tr>
                        <th>Навык</th>
                        <th>Количество вакансий</th>
                    </tr>
                </thread>
                <tbody>
                    <tr><td>Управление проектами</td><td>531</td></tr>
                    <tr><td>Организаторские навыки</td><td>391</td></tr>
                    <tr><td>Управление командой</td><td>161</td></tr>
                    <tr><td>Работа в команде</td><td>236</td></tr>
                    <tr><td>Ведение переговоров</td><td>383</td></tr>
                    <tr><td>SQL</td><td>226</td></tr>
                    <tr><td>Руководство коллективом</td><td>315</td></tr>
                    <tr><td>Английский язык</td><td>163</td></tr>
                    <tr><td>Управление персоналом</td><td>322</td></tr>
                    <tr><td>Деловая коммуникация</td><td>119</td></tr>
                    <tr><td>Java</td><td>427</td></tr>
                    <tr><td>Git</td><td>247</td></tr>
                    <tr><td>Python</td><td>99</td></tr>
                    <tr><td>PostgreSQL</td><td>172</td></tr>
                    <tr><td>JavaScript</td><td>192</td></tr>
                    <tr><td>Linux</td><td>92</td></tr>
                    <tr><td>Деловая переписка</td><td>163</td></tr>
                    <tr><td>Информационные технологии</td><td>25</td></tr>
                    <tr><td>Agile Project Management</td><td>41</td></tr>
                    <tr><td>MS Project</td><td>41</td></tr>
                </tbody>
            </table>
        </div>
    </div>
    <h2>Топ-20 навыков 2016 год</h2>
    <div class="flex-container">
        <div class="flex-container_table">
            <table>
                    <tr><td>Управление проектами</td><td>2025</td></tr>
                    <tr><td>Организаторские навыки</td><td>1015</td></tr>
                    <tr><td>Управление командой</td><td>644</td></tr>
                    <tr><td>Работа в команде</td><td>844</td></tr>
                    <tr><td>Ведение переговоров</td><td>1026</td></tr>
                    <tr><td>SQL</td><td>455</td></tr>
                    <tr><td>Руководство коллективом</td><td>938</td></tr>
                    <tr><td>Английский язык</td><td>401</td></tr>
                    <tr><td>Управление персоналом</td><td>982</td></tr>
                    <tr><td>Деловая коммуникация</td><td>503</td></tr>
                    <tr><td>Java</td><td>641</td></tr>
                    <tr><td>Git</td><td>498</td></tr>
                    <tr><td>Python</td><td>162</td></tr>
                    <tr><td>PostgreSQL</td><td>351</td></tr>
                    <tr><td>JavaScript</td><td>674</td></tr>
                    <tr><td>Linux</td><td>250</td></tr>
                    <tr><td>Деловая переписка</td><td>554</td></tr>
                    <tr><td>Информационные технологии</td><td>100</td></tr>
                    <tr><td>Agile Project Management</td><td>212</td></tr>
                    <tr><td>MS Project</td><td>140</td></tr>
                </tbody>
            </table>
        </div>
    </div>
    <h2>Топ-20 навыков 2017 год</h2>
    <div class="flex-container">
        <div class="flex-container_table">
            <table>
                <thread>
                    <tr>
                        <th>Навык</th>
                        <th>Количество вакансий</th>
                    </tr>
                </thread>
                <tbody>
                    <tr><td>Управление проектами</td><td>2369</td></tr>
                    <tr><td>Организаторские навыки</td><td>1212</td></tr>
                    <tr><td>Управление командой</td><td>737</td></tr>
                    <tr><td>Работа в команде</td><td>920</td></tr>
                    <tr><td>Ведение переговоров</td><td>1385</td></tr>
                    <tr><td>SQL</td><td>577</td></tr>
                    <tr><td>Руководство коллективом</td><td>972</td></tr>
                    <tr><td>Английский язык</td><td>515</td></tr>
                    <tr><td>Управление персоналом</td><td>1001</td></tr>
                    <tr><td>Деловая коммуникация</td><td>411</td></tr>
                    <tr><td>Java</td><td>770</td></tr>
                    <tr><td>Git</td><td>611</td></tr>
                    <tr><td>Python</td><td>429</td></tr>
                    <tr><td>PostgreSQL</td><td>415</td></tr>
                    <tr><td>JavaScript</td><td>954</td></tr>
                    <tr><td>Linux</td><td>427</td></tr>
                    <tr><td>Деловая переписка</td><td>483</td></tr>
                    <tr><td>Информационные технологии</td><td>170</td></tr>
                    <tr><td>Agile Project Management</td><td>416</td></tr>
                    <tr><td>MS Project</td><td>243</td></tr>
                </tbody>
            </table>
            </div>
    </div>
    <h2>Топ-20 навыков 2018 год</h2>
    <div class="flex-container">
        <div class="flex-container_table">
            <table>
                <thread>
                    <tr>
                        <th>Навык</th>
                        <th>Количество вакансий</th>
                    </tr>
                </thread>
                <tbody>
                    <tr><td>Управление проектами</td><td>3464</td></tr>
                <tr><td>Организаторские навыки</td><td>1890</td></tr>
                <tr><td>Управление командой</td><td>1262</td></tr>
                <tr><td>Работа в команде</td><td>1339</td></tr>
                <tr><td>Ведение переговоров</td><td>2024</td></tr>
                <tr><td>SQL</td><td>971</td></tr>
                <tr><td>Руководство коллективом</td><td>1532</td></tr>
                <tr><td>Английский язык</td><td>840</td></tr>
                <tr><td>Управление персоналом</td><td>1618</td></tr>
                <tr><td>Деловая коммуникация</td><td>648</td></tr>
                <tr><td>Java</td><td>1363</td></tr>
                <tr><td>Git</td><td>1056</td></tr>
                <tr><td>Python</td><td>716</td></tr>
                <tr><td>PostgreSQL</td><td>666</td></tr>
                <tr><td>JavaScript</td><td>1463</td></tr>
                <tr><td>Linux</td><td>713</td></tr>
                <tr><td>Деловая переписка</td><td>867</td></tr>
                <tr><td>Информационные технологии</td><td>311</td></tr>
                <tr><td>Agile Project Management</td><td>513</td></tr>
                <tr><td>MS Project</td><td>330</td></tr>
                </tbody>
            </table>
            </div>
    </div>
    <h2>Топ-20 навыков 2019 год</h2>
    <div class="flex-container">
        <div class="flex-container_table">
            <table>
                <thread>
                    <tr>
                        <th>Навык</th>
                        <th>Количество вакансий</th>
                    </tr>
                </thread>
                <tbody>
                    <tr><td>Управление проектами</td><td>5003</td></tr>
                <tr><td>Организаторские навыки</td><td>2252</td></tr>
                <tr><td>Управление командой</td><td>2073</td></tr>
                <tr><td>Работа в команде</td><td>2213</td></tr>
                <tr><td>Ведение переговоров</td><td>2452</td></tr>
                <tr><td>SQL</td><td>1588</td></tr>
                <tr><td>Руководство коллективом</td><td>1845</td></tr>
                <tr><td>Английский язык</td><td>1575</td></tr>
                <tr><td>Управление персоналом</td><td>1783</td></tr>
                <tr><td>Деловая коммуникация</td><td>1080</td></tr>
                <tr><td>Java</td><td>1873</td></tr>
                <tr><td>Git</td><td>1507</td></tr>
                <tr><td>Python</td><td>1046</td></tr>
                <tr><td>PostgreSQL</td><td>1033</td></tr>
                <tr><td>JavaScript</td><td>2072</td></tr>
                <tr><td>Linux</td><td>1148</td></tr>
                <tr><td>Деловая переписка</td><td>1025</td></tr>
                <tr><td>Информационные технологии</td><td>829</td></tr>
                <tr><td>Agile Project Management</td><td>856</td></tr>
                <tr><td>MS Project</td><td>755</td></tr>
                </tbody>
            </table>
            </div>

    </div>
    <h2>Топ-20 навыков 2020 год</h2>
    <div class="flex-container">
        <div class="flex-container_table">
            <table>
                <thread>
                    <tr>
                        <th>Навык</th>
                        <th>Количество вакансий</th>
                    </tr>
                </thread>
                <tbody>
                    <tr><td>Управление проектами</td><td>9478</td></tr>
                <tr><td>Организаторские навыки</td><td>3133</td></tr>
                <tr><td>Управление командой</td><td>4435</td></tr>
                <tr><td>Работа в команде</td><td>4023</td></tr>
                <tr><td>Ведение переговоров</td><td>2981</td></tr>
                <tr><td>SQL</td><td>3454</td></tr>
                <tr><td>Руководство коллективом</td><td>2814</td></tr>
                <tr><td>Английский язык</td><td>3717</td></tr>
                <tr><td>Управление персоналом</td><td>2945</td></tr>
                <tr><td>Деловая коммуникация</td><td>2187</td></tr>
                <tr><td>Java</td><td>3382</td></tr>
                <tr><td>Git</td><td>3282</td></tr>
                <tr><td>Python</td><td>2349</td></tr>
                <tr><td>PostgreSQL</td><td>2268</td></tr>
                <tr><td>JavaScript</td><td>2462</td></tr>
                <tr><td>Linux</td><td>2251</td></tr>
                <tr><td>Деловая переписка</td><td>1297</td></tr>
                <tr><td>Информационные технологии</td><td>2449</td></tr>
                <tr><td>Agile Project Management</td><td>2152</td></tr>
                <tr><td>MS Project</td><td>2433</td></tr>
                </tbody>
            </table>
            </div>
    </div>
    <h2>Топ-20 навыков 2021 год</h2>
    <div class="flex-container">
        <div class="flex-container_table">
            <table>
                <thread>
                    <tr>
                        <th>Навык</th>
                        <th>Количество вакансий</th>
                    </tr>
                </thread>
                <tbody>
                <tr><td>Управление проектами</td><td>17500</td></tr>
                <tr><td>Организаторские навыки</td><td>8242</td></tr>
                <tr><td>Управление командой</td><td>6888</td></tr>
                <tr><td>Работа в команде</td><td>9429</td></tr>
                <tr><td>Ведение переговоров</td><td>6104</td></tr>
                <tr><td>SQL</td><td>6238</td></tr>
                <tr><td>Руководство коллективом</td><td>4964</td></tr>
                <tr><td>Английский язык</td><td>7693</td></tr>
                <tr><td>Управление персоналом</td><td>6374</td></tr>
                <tr><td>Деловая коммуникация</td><td>5317</td></tr>
                <tr><td>Java</td><td>4481</td></tr>
                <tr><td>Git</td><td>4892</td></tr>
                <tr><td>Python</td><td>3981</td></tr>
                <tr><td>PostgreSQL</td><td>3550</td></tr>
                <tr><td>JavaScript</td><td>3537</td></tr>
                <tr><td>Linux</td><td>3494</td></tr>
                <tr><td>Деловая переписка</td><td>2914</td></tr>
                <tr><td>Информационные технологии</td><td>3208</td></tr>
                <tr><td>Agile Project Management</td><td>3085</td></tr>
                <tr><td>MS Project</td><td>3277</td></tr>
                </tbody>
            </table>
            </div>
    </div>
    <h2>Топ-20 навыков 2022 год</h2>
    <div class="flex-container">
        <div class="flex-container_table">
            <table>
                <thread>
                    <tr>
                        <th>Навык</th>
                        <th>Количество вакансий</th>
                    </tr>
                </thread>
                <tbody>
                <tr><td>Управление проектами</td><td>17476</td></tr>
                <tr><td>Организаторские навыки</td><td>10730</td></tr>
                <tr><td>Управление командой</td><td>4773</td></tr>
                <tr><td>Работа в команде</td><td>8665</td></tr>
                <tr><td>Ведение переговоров</td><td>5884</td></tr>
                <tr><td>SQL</td><td>6373</td></tr>
                <tr><td>Руководство коллективом</td><td>4212</td></tr>
                <tr><td>Английский язык</td><td>6773</td></tr>
                <tr><td>Управление персоналом</td><td>5849</td></tr>
                <tr><td>Деловая коммуникация</td><td>4848</td></tr>
                <tr><td>Java</td><td>4101</td></tr>
                <tr><td>Git</td><td>5316</td></tr>
                <tr><td>Python</td><td>4647</td></tr>
                <tr><td>PostgreSQL</td><td>3819</td></tr>
                <tr><td>JavaScript</td><td>2706</td></tr>
                <tr><td>Linux</td><td>3762</td></tr>
                <tr><td>Деловая переписка</td><td>3396</td></tr>
                <tr><td>Информационные технологии</td><td>2550</td></tr>
                <tr><td>Agile Project Management</td><td>2758</td></tr>
                <tr><td>MS Project</td><td>2661</td></tr>
                </tbody>
            </table>
            </div>
    </div>
    <h2>Топ-20 навыков 2023 год</h2>
    <div class="flex-container">
        <div class="flex-container_table">
            <table>
                <thread>
                    <tr>
                        <th>Навык</th>
                        <th>Количество вакансий</th>
                    </tr>
                </thread>
                <tbody>
                <tr><td>Управление проектами</td><td>11041</td></tr>
                <tr><td>Организаторские навыки</td><td>7250</td></tr>
                <tr><td>Управление командой</td><td>7351</td></tr>
                <tr><td>Работа в команде</td><td>4515</td></tr>
                <tr><td>Ведение переговоров</td><td>3809</td></tr>
                <tr><td>SQL</td><td>4024</td></tr>
                <tr><td>Руководство коллективом</td><td>4494</td></tr>
                <tr><td>Английский язык</td><td>2467</td></tr>
                <tr><td>Управление персоналом</td><td>2896</td></tr>
                <tr><td>Деловая коммуникация</td><td>4287</td></tr>
                <tr><td>Java</td><td>2952</td></tr>
                <tr><td>Git</td><td>2408</td></tr>
                <tr><td>Python</td><td>3541</td></tr>
                <tr><td>PostgreSQL</td><td>3314</td></tr>
                <tr><td>JavaScript</td><td>1634</td></tr>
                <tr><td>Linux</td><td>2588</td></tr>
                <tr><td>Деловая переписка</td><td>2711</td></tr>
                <tr><td>Информационные технологии</td><td>2042</td></tr>
                <tr><td>Agile Project Management</td><td>2075</td></tr>
                <tr><td>MS Project</td><td>2105</td></tr>
                </tbody>
            </table>
            </div>
    </div>
        <h2>Топ-20 навыков 2024 год</h2>
    <div class="flex-container">
        <div class="flex-container_table">
            <table>
                <thread>
                    <tr>
                        <th>Навык</th>
                        <th>Количество вакансий</th>
                    </tr>
                </thread>
                <tbody>
                <tr><td>Управление проектами</td><td>4436</td></tr>
                <tr><td>Организаторские навыки</td><td>5443</td></tr>
                <tr><td>Управление командой</td><td>6941</td></tr>
                <tr><td>Работа в команде</td><td>1354</td></tr>
                <tr><td>Ведение переговоров</td><td>1511</td></tr>
                <tr><td>SQL</td><td>2633</td></tr>
                <tr><td>Руководство коллективом</td><td>3795</td></tr>
                <tr><td>Английский язык</td><td>1233</td></tr>
                <tr><td>Управление персоналом</td><td>841</td></tr>
                <tr><td>Деловая коммуникация</td><td>3312</td></tr>
                <tr><td>Java</td><td>1934</td></tr>
                <tr><td>Git</td><td>1365</td></tr>
                <tr><td>Python</td><td>2390</td></tr>
                <tr><td>PostgreSQL</td><td>2366</td></tr>
                <tr><td>JavaScript</td><td>1102</td></tr>
                <tr><td>Linux</td><td>1701</td></tr>
                <tr><td>Деловая переписка</td><td>1662</td></tr>
                <tr><td>Информационные технологии</td><td>1792</td></tr>
                <tr><td>Agile Project Management</td><td>1343</td></tr>
                <tr><td>MS Project</td><td>1310</td></tr>
                </tbody>
            </table>
            </div>
    </div>
    <div class="flex-container_img">
            <img src="static/main/img/myplot5.png" style="width: 400px;">
    </div>
{% endblock %}

{% block footer %}
    <footer>
        <p>Виноградов Арсений Александрович – РИ-230949</p>
    </footer>
{% endblock %}
