body {
    background: #e3eff7;
}

aside {
    float: left;
    background: #abd0e6;
    padding: 3%;
    width: 20%;
    height: 850vh;
    color: #000000;
    border-right: 3px solid #7ab4d7;
}

aside .logo {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    position: relative;
    top: +5px;
}

aside h3 {
    margin-top: 45px;
    margin-left: 10px;
    font-size: 25px;
    color: #000000;
}

aside ul a{
    list-style: none;
    text-decoration: none;
}

aside ul li {
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    display: block;
    margin-top: 15px;
    margin-left: -20px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #194157;
    text-decoration: none;
    transform: scale(1.05);
}

main, features {
    color: #000000;
    float: left;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1 {font-size: 50px;}
main .features p {
    font-size: 20px;
    max-width: 500px;
    margin: 20px auto;
    margin-bottom: 30px;
}

main .description {
    margin-top: 10px;
    text-align: left;
}

main .description p {
    font-size: 20px;
    max-width: 700px;
    margin: 30px auto;
}

aligncenter {
    text-align: center;
}

main li {
    text-align: left;
    font-size: 20px;
    margin-left: 100px;
}

table{
	border: 1px solid #82AAE3;
	table-layout: fixed;
	width: 50%;
    margin: auto;
}
table th {
	font-weight: bold;
	padding: 5px;
	background: #82aae370;
	border: 1px solid #82AAE3;
}
table td{
	padding: 5px 10px;
	border: 1px solid #82AAE3;
	text-align: center;
}
table tbody tr:nth-child(odd){
	background: #fff;
}
table tbody tr:nth-child(even){
	background: #82aae314;
}

.flex-container {
  display: inline-flex;
  align-items: center;
  padding: 10px;
}

.flex-container_table {
    /* сверху | справа | снизу | слева */
    margin: 10px 10px 10px -100px;
}

.flex-container_img{
    margin: 1px 1px 1px -150px;
}







